<div id="template">
  <%if @error %>
    <div class="alert alert-error"><%=@error%></div>
  <% end %>
  <%if @success %>
    <div class="alert alert-success"><%=@success%></div>
  <% end %>

  <h3>How much will <%= session[:player_name] %> bet?</h3>

  <p><strong><%= session[:player_name] %> has $<%= session[:player_money] %></strong></p>
  <form id="bet_form" action='/bet' method='post'>
    Bet Amount: $ <input type='text' name='bet_amount'/>
    <br/>
    <input type='submit' class='btn'/>
  </form>
</div>