<div id="template">
  <%if @error %>
    <div class="alert alert-error"><%=@error%></div>
  <% end %>
  <%if @success %>
    <div class="alert alert-success"><%=@success%></div>
  <% end %>

  <% if @player_name %>
    <h3><%= @player_name %> leaves with $<%= @player_money.to_i %></h3>
    <p>Bye <%= @player_name %>! Thanks for playing!</p>

    <form id="start_over_form" action="/new_player" method='get'>
      <input type="submit" class="btn btn-primary" value="Start Over" />
    </form>
  <% end %>
</div>